<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackJackApp</title>
    <script text="text/javascript" src="/static/js/game.js"></script>
</head>
<body>
    <div>ようこそ、{{ username }} さん!</div>
    <div id="pop_message"></div>
    <select name="bet_name" id="bet_id">
        <option value="b100">100</option>
        <option value="b200">200</option>
        <option value="b300">300</option>
    </select>
    <button onclick="test()">ベットする</button>
    <div id="game_main_container">
        <button onclick="action(this)" id="hit">ヒット</button>
        <button onclick="action(this)" id="stand">スタンド</button>
        <button onclick="action(this)" id="double">ダブルダウン</button>
        <button onclick="action(this)" id="surrender">サレンダー</button>
        <button onclick="action(this)" id="yes">はい</button>
        <button onclick="action(this)" id="no">いいえ</button>
        <div>ディーラーのハンド</div>
        <div id="dealer_hand"></div>
        <div>プレイヤーのハンド</div>
        <div id="player_hand"></div>
        <div>結果</div>
        <div id="result"></div>
        <button onclick="nextGame()">次のゲームへ</button>
        <button onclick="exitGame()">ゲーム終了</button>
    </div>
</body>
</html>