<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackJackApp</title>
    <script text="text/javascript" src="/static/js/index.js"></script>
</head>
<body>
    <div id="top_message"></div>
    <form action="/game" method="POST" name="form1" onsubmit="return inputChecker()">
        <input type="text" placeholder="名前を入力してください" name="username">
        <button type="submit">プレイ</button>
    </form>
</body>
</html>